
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="left-sidebar">
           <ul class="main-menu">

               <li><a href="#"><span class="icon-chevron-right">Bilgilerim</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Düzenle</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Siparişlerim</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Sepetim</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Favori Ürünler</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Sipariş Geçmişi</span> </a> </li>
               <li><a href="#"><span class="icon-chevron-right">Yorumlar</span> </a> </li>
               <li><a href="{{ path('app_logout') }}"><span class="icon-chevron-right">Çıkış</span> </a> </li>

           </ul>
        </div>v>
    </section>
</div>

