{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Düzenleme{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Ürün Düzenleme

            </h1>
            <div class="panel panel-default">
                {{ include('admin/messages.html.twig') }}

                <!-- /.panel-heading -->
                <div class="panel-body">


                    <div class="table-responsive table-bordered">


                        {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
